.bannerContainer{
    width: 100%;
    height: 100vh;
    background-image: url(../../../public/img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;

    display: flex;
    align-items: center;
}

.textBox{
    margin-left: 70px;
}

.textBox p{
    font-size: 3rem;
    font-weight: bolder;
    color: var(--white);
    margin-bottom: 20px;

}




.bannerButton{
    margin-top: 30px;
    border: 0;
    background: var(--green);
    color: var(--white);
    padding: 15px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color .3s;
}

.bannerButton:hover{
    background: #095238;
    
}

@media(min-width:425px){
    .bannerButton{
        font-size: 1.65rem;
    }
}


@media(min-width: 768px){

    .bannerButton{
        font-size: 1.75rem;
    }
}

@media(min-width: 1024px){

    .textBox p{
        font-size: 3.5rem;
    }

    .bannerButton{
        font-size: 2rem;
    }
}