


.menuContainer {
    width: 100%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--white);

    position: fixed;
    z-index: 2;

    box-shadow: 0 0 60px rgba(0, 0, 0, 0.3);
}

.menuContainer img {
    width: 70px;
    margin-left: 100px;
}

.menuContainer ul{
    display: flex;
    list-style: none;
}

.menuContainer ul li{
    margin-right: 70px;
    font-size: 20px;
}

.menuContainer ul li a{
    text-decoration: none;
    color: var(--green);

    font-weight: bold;
    transition: color .3s;
}

.menuContainer ul li a:hover{
    color: #00be7c;
}